header {
  background: black;
}

.social-icons {
  display: flex;
  padding-left: 0;
}

.social-icons svg {
  fill: white;
}

.social-icons li {
  list-style-type: none;
  padding: 5px 0px 5px 10px;
}

.title-row {
  display: flex;
  justify-content: center;
}

.title-row h1 {
  color: white;
}

nav {
  display: flex;
  justify-content: center;
  border-top: solid 1px #555;
}

.menu-items {
  display: flex;
}

.menu-items li {
  list-style-type: none;
}

.menu-items a {
  color: white;
  text-decoration: none;
  padding: 0px 10px;
  font-style: italic;
}

main {
  margin: 64px auto;
  padding: 0 48px;
  max-width: 1400px;
}

.header-block {
  border-bottom: solid black 3px;
}
.header-block > div {
  font-style: bold;
  font-size: 20px;
}

.latest {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 32px;
  margin: 32px 0;
}

.latest img {
  width: 100%;
  display: block;
}

.latest a {
  text-decoration: none;
  color: black;
}

.latest .category {
  font-style: italic;
  margin-top: 16px;
  display: block;
  font-size: 18px;
}

.latest .excerpt {
  margin-bottom: 16px;
}

.latest-top4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 32px;
}

.latest-top4 h2 {
  font-size: 20px;
}
