.alert {
  color: black;
  border-radius: 8px;
  padding: 20px;
}

.alert.info {
  background-color: lightblue;
}

.alert.error {
  background-color: red;
}

.alert.warning {
  background-color: orange;
}

.alert.success {
  background-color: lightgreen;
}
